:root {
  --transparent-white: rgba(255, 255, 255, 0.788);
  --transparent-black: rgba(0, 0, 0, 0.884);
  --transparent-yellow: rgba(239, 219, 170, 0.918);
  --transparent-gray: rgba(160, 160, 160, 0.5);
  --bluish-gray: #818181;
  --transparent-red: rgba(255, 0, 0, 0.123);
  --light-gray: rgba(255, 255, 255, 0.5);
  --tin: rgba(128, 128, 128, 0.664);
}