* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url(DSCF4626-2.JPG) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

/*____header___*/
.main-header {
  width: 100%;
  height: max-content;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 7px 9px 13px -7px #00000024, 5px 5px 15px 5px rgb(0 0 0 / 0%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
  align-items: center;
}

.main-header>* {
  flex: 1 100%;
}

.main-header__toolbar {
  flex: 1 auto;
  padding-right: 0.5em;
}

.logo {
  flex: 0 auto;  
  margin: 0.5em;
}

.menu-list li>a {
  font-size: 0.75rem;
  margin: 0 1rem;
  color: rgb(0, 0, 0);
  letter-spacing: 0.1rem;
}

.menu-list li[class],
.toolbar-list li {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  cursor: pointer;
}

.main-header__menu li:first-child,
.main-header__toolbar li:first-child {
  border-left: none;
}

.menu-list  li:hover>a {
  font-weight: bold; 
  text-decoration: underline;
}

.main-header__menu {
  flex: 1 auto;
  margin-left: 1.5rem;
}

.main-header__toolbar {
  height: inherit;
  line-height: inherit;
  text-align: right;
}

.material-icons {
  vertical-align: middle;
  /* margin-left:1rem ; */
  color: rgba(128, 128, 128, 0.479);
  font-size: 1.5rem;
}

.icon_search,
.icon_bag {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding:0 0.5em;
}

.main-header__toolbar ul li a {
  margin-left: 0;
  font-size: 0.7rem;
}

.header {
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

/*________footer______*/
.footer svg {
  vertical-align: middle;
}

.social-icons a {
  margin: 0.7em;
}

.social-icons {
  display: inline-block;
}

.footer__contacts-list>* {
  display: inline-block;
  width: 32%;
}


.footer-wrapper a {
  /* text-decoration: none; */
  color: black;
  text-transform: uppercase;
  line-height: 2.5em;
}

.footer-wrapper li {
  list-style-type: none;
}

.footer-wrapper {
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(255, 255, 255, 0.664);
  z-index: 10;
  font-size: 0.8em;
}

.footer-wrapper>* {
  flex: 1 100%;
  padding: 2em;
}

.footer__consumer, .footer__navigation, .footer__newsletter {
  flex: 1 auto;
}

.footer__developer {
  text-align: center;
  font-size: 0.8rem;
}

.politica {
  font-size: 0.7rem;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 0.3em;
  color: #818181;
  text-transform: lowercase;
}

.contacts-info {
  display: block;
  font-size: 0.8em;
}

.newsletter__input {
  border-width: 0 0 1px;
  border-color: gray;
  width: 80%;
  background-color: inherit;
  padding-bottom: 0.7em;
  font-size: 1rem;
}

input:focus {
  outline-style: none;
}

.newsletter__btn {
  display: inline-block;
  position: absolute;
}

.arrow-right::before {
  content: "\232A";
  font-size: 1.2em;
  color: gray;
}


/*____menu_clothes*/

.hidden-block {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition:opacity 0.8s ease ;
}

.menu-list__item:hover .hidden-block  {
  visibility: visible;
  background-color: rgb(239, 219, 170, 0.75);
  width: 100%;
  height: max-content;
  padding: 2em 0 1em 2em;
  opacity: 1;

}

.hidden-block__submenu {
  display: inline-block;
  vertical-align: top;
}

.hidden-block__submenu > * {
  margin: 0.5em;
  border: none;
  padding: 0.5em;
}

.hidden-block__img-wrapper {
  display: inline-block;
}
/*search*/

.search__input {
  color: #f1f1f1;
  border-width: 0 0 1px;
  border-color: gray;
  width: 80%;
  background-color: inherit;
  padding-bottom: 0.7em;
  font-size: 1.5rem;
}

.search {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.76);
  overflow-y: hidden;
  transition: 0.5s;
}

.search-wrapper {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.search a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.search a:hover, .search a:focus {
  color: #f1f1f1;
}

.search .btn-close {
  position: absolute;
  top: 50px;
  right: 45px;
  font-size: 6em;
}

@media screen and (max-height: 450px) {
  .search {
    overflow-y: auto;
  }

  .search a {
    font-size: 20px
  }

  .search .btn-close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}



/*____bag_block___*/

.bag {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.76);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.bag .btn-close {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3em;
  margin-left: 0.2rem;
  color: #818181;
  transition: all 0.5s;
}
.bag .btn-close:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .bag {
    padding-top: 15px;
  }

  .bag a {
    font-size: 18px;
  }
}


.bag__tablinks {
  display: inline-block;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: 1rem;
  /* margin: 0 1rem; */
  color: rgb(255, 255, 255);
  letter-spacing: 0.04rem;
  line-height: 3em;
  cursor: pointer;
  padding: 0.8em;
}

.bag__tablinks.active_bag {
  /* text-decoration: underline; */
  border-bottom: 0.016em solid white;
}

.bag__content {
  color: #ffffff;
  display: none;
  text-align: center;
  width: 200px;
  margin: 6em auto;
}


.content_weight-bold{
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
}

/*____progress_bar*/
.progress-bar {
  height: 0.3em;
  background: rgba(0, 0, 0, 0.425);
  width: 0%;
}


/*skroll*/

.btn-toTop::after {
  color: gray;
  position: absolute;
  content: '↑';
  font-size: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.btn-toTop {
  height: 100%;
  width: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  display: none;
  font-family: monospace;
  z-index: 9;
}