* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style-type: none;
}

body {
  background: url(DSCF4626-2.JPG) center center no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
}
/*____header___*/
.main_header {
  width: 100%;
  height: max-content;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 7px 9px 13px -7px #00000024, 5px 5px 15px 5px rgb(0 0 0 / 0%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_logo img {
  width: 200px;
  height: 49px;
  margin: 5px;
}

.main_nav_items li a,
.main_nav_toolbar li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 0 1rem;
  color: rgb(0, 0, 0);
  letter-spacing: 0.04rem;
  transition: 0.7s letter-spacing;

}

.main_nav_items li,
.main_nav_toolbar li {
  width: max-content;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
}

.main_nav_items li:first-child,
.main_nav_toolbar li:first-child {
  border-left: none;
}

.main_nav_items a:hover,
.main_nav_toolbar a:hover {
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition-delay: 0s;
}

.main_nav_items {
  flex: 1;
  margin-left: 1.5rem;
}

.main_nav_toolbar {
  height: inherit;
  line-height: inherit;
  text-align: right;
}

.material-icons {
  vertical-align: middle;
  margin-left:1rem ;
  color:rgba(128, 128, 128, 0.479);
  font-size: 1.5rem;
}

.main_nav_toolbar ul li a {
  margin-left: 0;
  font-size: 0.7rem;
}

.header {
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

/*________footer______*/
.main_footer svg {
  vertical-align: middle;
}
.contacts_icons_social a {
  margin: 0.7em;
}

li[class^="item_contacts"]{
width: 32%;
}

.display_inline {
  display:inline-block;
}
 .main_footer {
   
   padding: 1rem;
 }
  
.footer_wrapper a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  line-height: 2.5em;
}

.footer_wrapper li {
  list-style-type: none;
}
  
.footer_wrapper {
   display: flex;
   flex-flow: row wrap;
   background-color: rgba(255, 255, 255, 0.664) ;
   
   /* text-align: center; */
   font-size: 0.8em;
 }
.footer_wrapper > * {
  flex: 1 100%;
  padding: 2em;
}
.footer_consumer, .footer_navigation, .footer_newsletter {
  flex: 1 auto;
}
.footer_developer {
  font-size: 0.7em;
  text-align: center;
  text-decoration:underline;
  padding-bottom: 0.3em;
}

.footer_newsletter input {
  border-width: 0 0 1px;
  border-color: gray;
  width: 80%;
  background-color: inherit;
  padding-bottom :0.7em;
  font-size: 1rem;
}

.footer_newsletter input:focus {
  outline-style: none;
}
.newsletter-btn {
  display: inline-block;
  position: absolute;
}
.arrow-right::before {
  content: "\232A";
  font-size: 1.2em;
  color: gray;
}


/*____menu_clothes*/
.menu_clothes {
  display: none;
  position:absolute;

}

li.item_clothes:hover .menu_clothes,
li.item_bags:hover .menu_clothes {
  display: flex;
  background-color: rgb(239,219,170,0.75);
  width: 100%;
  height: max-content;
  flex-direction: row;
  flex: 1 100%;
  padding: 2em 0 0 2em;
}

.menu_clothes li {
  display: block;
  margin: 0.5em;
  border:none;
  padding: 0.5em;
}