@import url(root_colors.css);

.main_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-top: 5em;
}

.main_index__video {
  width: 100%;
  opacity: 0.7;
}

.video-wrapper {
  position: relative;
}

.text-over-video {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  line-height: 1.5em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text-over-video .nav_block {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: -120%;
  width: 100%;
  line-height: 0.5em;
}

.text-over-video .nav_block > * {
  position: relative;
  width: 20%;
  color: white;
  border-bottom: 0.016rem solid var(--transparent-white);
  font-size: 1.2rem;
}

.nav_block > *::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 0%;
  height: 1px;
  color: transparent;
  background: var(--transparent-yellow);
  text-align: left;
  content: '.';
  opacity: 0;
}

.nav_block > *:hover::after {
  z-index: -10;
  animation: fill 0.7s forwards;
  -webkit-animation: fill 0.7s forwards;
  -moz-animation: fill 0.7s forwards;
  opacity: 1;
}

@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: var(--transparent-gray);
  }
}

.img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.img-wrapper > * {
  position: relative;
  flex: 1 auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  width: 50%;
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.img-wrapper img {
  position: relative;
  width: 100%;
}

.costums {
  flex: 1 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
}

.section-title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: gray;
  background-color: white;
  text-transform: uppercase;
  font-size: 3em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and (max-width : 1300px) {
  .text-over-video {
    font-size: 1.8em;
  }

  .text-over-video .nav_block {
    line-height: 0.8em;
  }
}

@media screen and (max-width : 768px) {
  .video-wrapper {
    display: none;
  }

  .section-title {
    font-size: 2.1em;
  }

  .img-wrapper > * {
    width: 100%;
  }
}

@media screen and (max-width : 370px) {
  .section-title {
    font-size: 1.8em;
  }
}

@media screen and (min-width : 768px) {

  .img-wrapper > *:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  .img-wrapper > *:hover a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-gray);
    cursor: pointer;
  }
}