.product_card {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.7em ;
  display: inline-block;
  margin:0 1.5em 1em 0;
}

.product_card-content {
  position: relative;
  margin: 0.5em;
}

.product_card-price {
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 0.3em;
}

input[type="checkbox"] {
  display: none;
}

label[for] {
  position:absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

input[id]:checked ~label[for] svg {
  fill: rgb(184, 89, 89);

}

