@import url(root_colors.css);

.buyers-wrapper{
  margin-top: 5rem;
}

.buyers_display-flex {
  display:none;
  align-items: center;
 margin-bottom: 5em;
  padding: 3em 2em 5em 2em;
  text-align: center;
  background-color: var(--transparent-white) ; 
}
.buyers_display-flex > * {
  flex: 1 100%;
} 

.buyers__info > * {
  line-height: 1.5rem;
  margin-bottom: 2em;
  border-bottom:0.016em solid var(--transparent-gray);
}

.buyers__image-container>* {
  opacity: 0.8;
  width: 100%;
}

.buyers__accordion {
  text-align: center;
   text-transform: uppercase;
  cursor: pointer;
  padding: 1em;
  background-color: var(--transparent-gray) ;
  transition: all 0.4s;
}

.active, .buyers__accordion:hover {
  background-color:  var(--transparent-white) ;
}

.buyers__accordion::after {
  content: url(../images/outline_expand_more_black_48dp.png);
  vertical-align: middle;
}

@media screen and (max-width: 1100px) {
  .buyers_display-flex {
    flex-direction: column;
  }
  .buyers__accordion{
    font-size: 1em;
  }
}