.gift-card-wrapper{
 margin: 5rem auto;
 width: 100%;
 background-color: rgba(255, 255, 255, 0.658);
 padding: 3em;
}

.gift-card__details {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-left: 2em;
  
}

.gift-card__info-list{
  margin:2em 0;
}

.info-list__item {
  list-style-type: disc;
  line-height: 1.5em;
}
.gift-card__form>* {
  display: block;
  margin-bottom: 1.2em;
  border-width: 0 0 1px;
  border-color: gray;
  width: 80%;
  background-color: inherit;
  padding-bottom:1.2em;
  font-size: 1rem;
}

.gift-card__form>*:focus {
  outline-style: none;
  background-color: rgba(239, 219, 170, 0.274);
}


input[type="checkbox"] {
  visibility: hidden;
}

.checked-place {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #b8b6b6;
  text-align: center;
}


.gift-card-wrapper img {
  width: 40%;
 }  
.btn-add_into_bag {
  border: none;
  position: relative;
  padding: 0.8em;
  top: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.616);
  transition: 0.4s;
}

.btn-add_into_bag:hover {
  background-color: rgb(239, 219, 170, 0.75);
}

@media screen and (max-width: 1100px){
  .gift-card-wrapper img {
    display: none;
  }
  .gift-card__details {
    width: 100%;
  }
}
@media screen and (max-width: 400px)
{
  .gift-card__form>* {
    font-size: 0.8em;
  }
}

