
/*____MAIN_____*/

.main_wrapper {
  width: max-content;
  margin: auto;
  margin-top: 4.3em;
}


div[class^="img"] {
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.main_top_block,
.main_bottom_block {
  display: flex;
}
.main_img {
  width: 761px;
  height: 957px;
}
.img_bluza {
  background: url(../images/img_index/bluza.jpg);
}
.img_bag {
  background: url(../images/img_index/bag.jpg);
}
.img_sport_suit {
  width: 1536px;
  height: 597px;
  background: url(../images/img_index/sport_kostyum.JPG);
}
.img_futbolka {
  background: url(../images/img_index/futbolka.JPG);
}
.img_dress {
  background: url(../images/img_index/dress.jpg);
}

.main_wrapper p {
  visibility:hidden;

}

div[class^="img"]:hover  p {
  visibility:visible;
  text-transform: uppercase;
  font-size: 3em;
  color:gray;
  background-color: white;

}

div[class^="img"]:hover{
  opacity: 0.65;
  transform: scale(0.95);
}

#myVideo {
  right: 0;
  bottom: 0;
  height: 869px;
  opacity: 0.7;
  position: relative;
}
 
.wrapper_video {
  position: relative;
}

.text-over-video {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  width: 100%;
  margin:auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  line-height: 1.5em;
}

.text-over-video .nav_block {
  width: 100%;
  position:absolute;
  display: flex;
  justify-content: space-around;
  bottom: -13em;
}

.text-over-video .nav_block > * {
  color: white;
  position: relative;
  border-bottom: 0.016rem solid rgba(255, 255, 255, 0.589);
  flex-basis: 20%;
  font-size: 1.2rem;
}

.nav_block>*::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 0%;
  text-align: left;
  content: '.';
  color: transparent;
  background: rgba(170, 170, 170, 0.61);
  height: 1px;
  opacity: 0;
}


.nav_block>*:hover::after {
  z-index: -10;
  animation: fill 0.7s forwards;
  -webkit-animation: fill 0.7s forwards;
  -moz-animation: fill 0.7s forwards;
  opacity: 1;
}


@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.568);
  }
}





.css-typing {
  visibility: visible;
  font-size: 2em;
  width: 30em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 5s steps(50, end);
  animation: type 5s infinite steps(50, end);
}
@keyframes type{
    from { width: 0; }
}
 
@-webkit-keyframes type{
    from { width: 0; }
}