@import url(root_colors.css);

:root {
  --invalid-value:var(--transparent-red);
}

.gift-card-wrapper {
  margin: 5rem auto;
  padding: 3em;
  width: 100%;
  background-color: var(--transparent-white);
}

.gift-card__details {
  display: inline-block;
  width: 40%;
  margin-left: 2em;
  vertical-align: top;

}

.gift-card__info-list {
  margin: 2em 0;
}

.info-list__item {
  list-style-type: disc;
  line-height: 1.5em;
}

.gift-card__form>* {
  display: block;
  width: 80%;
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;
  border-width: 0 0 1px;
  border-color: gray;
  background-color: inherit;
  font-size: 1rem;
}

.gift-card__form>*:focus {
  outline-style: none;
  background-color: var(--transparent-gray);
}


input[type="checkbox"] {
  visibility: hidden;
}

.checked-place {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: gray;
  text-align: center;
}


.gift-card-wrapper img {
  width: 40%;
}

.btn-add_into_bag {
  position: relative;
  padding: 0.8em;
  top: 50%;
  border: none;
  background: var(--transparent-white);
  transition: 0.4s;
  cursor: pointer;
}

.btn-add_into_bag:hover {
  background-color: var(--transparent-yellow);
}

/*validation*/
input[type=text]:invalid {
  border-color: var(--invalid-value);
}

.error {
  padding: 0;
  color: var(--transparent-black);
  background-color: var(--invalid-value);
  border-radius: 0 0 5px 5px;
}

.error.active-error {
  padding: 0.3em;
}


@media screen and (max-width: 1100px) {
  .gift-card-wrapper img {
    display: none;
  }

  .gift-card__details {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .gift-card__form>* {
    font-size: 0.8em;
  }
}