
/*____MAIN_____*/

.main_wrapper {
  width: max-content;
  margin: auto;
  transform: scale(0.92);
}
div[class^="img"] {
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.main_top_block,
.main_bottom_block {
  display: flex;
}
.main_img {
  width: 761px;
  height: 957px;
}
.img_bluza {
  background: url(../images/img_index/bluza.jpg);
}
.img_bag {
  background: url(../images/img_index/bag.jpg);
}
.img_sport_suit {
  width: 1536px;
  height: 597px;
  background: url(../images/img_index/sport_kostyum.JPG);
}
.img_futbolka {
  background: url(../images/img_index/futbolka.JPG);
}
.img_dress {
  background: url(../images/img_index/dress.jpg);
}

.main_wrapper p {
  visibility:hidden;

}

div[class^="img"]:hover  p {
  visibility:visible;
  text-transform: uppercase;
  font-size: 3em;
  color:gray;
  background-color: white;

}

div[class^="img"]:hover{
  opacity: 0.65;
  transform: scale(0.95);
}

#myVideo {
  right: 0;
  bottom: 0;
  height: 869px;
  opacity: 0.7;
  position: relative;
}
 
.wrapper_video {
  position: relative;
}

.text-over-video {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  width: 100%;
  margin:auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  z-index: 10;
}
/* .upper {
  text-transform: uppercase;
} */
.css-typing {
  visibility: visible;
  font-size: 2em;
  width: 30em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 5s steps(50, end);
  animation: type 5s infinite steps(50, end);
}
@keyframes type{
    from { width: 0; }
}
 
@-webkit-keyframes type{
    from { width: 0; }
}